## File System Drivers
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-fs-xfs=y

## I2C Drivers
CONFIG_PACKAGE_kmod-i2c-core=y
## Network Support
### Dependence for OpenClash
CONFIG_PACKAGE_kmod-inet-diag=y

## USB Drivers
### USB Audio 
CONFIG_PACKAGE_kmod-usb-audio=y


# Mobile Network Sharing
CONFIG_PACKAGE_libimobiledevice-utils=y
CONFIG_PACKAGE_libplist-utils=y
CONFIG_PACKAGE_libudev-fbsd=y
CONFIG_PACKAGE_libusbmuxd-utils=y
CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_smartdns=y



# Global build settings  --->
## Kernel build options  --->     
### Enable kernel namespaces
#### Network namespace
CONFIG_KERNEL_NAMESPACES=y

# Kernel modules

## Network Devices
CONFIG_PACKAGE_kmod-igb=y
CONFIG_PACKAGE_kmod-igc=y
CONFIG_PACKAGE_kmod-ixgbe=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-vmxnet3=y
CONFIG_PACKAGE_kmod-wwan=y

## Network Support
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-wireguard=y

## USB Support
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_kmod-usb-serial-wwan=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y

# Languages

## Python
CONFIG_PACKAGE_python-pip-conf=y
CONFIG_PACKAGE_python3=y
CONFIG_PACKAGE_python3-pip=y

# LuCI
## 1.Collections
CONFIG_PACKAGE_luci=y

## File Transfer
CONFIG_PACKAGE_atftp=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget-ssl=y

## NMAP Suite
CONFIG_PACKAGE_ncat-full=y

## Routing and Redirection
CONFIG_PACKAGE_ip-full=y

## SSH
CONFIG_PACKAGE_openssh-client=y
CONFIG_PACKAGE_openssh-client-utils=y
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_openssh-moduli=y
CONFIG_PACKAGE_openssh-server=y
CONFIG_OPENSSH_LIBFIDO2=y
CONFIG_PACKAGE_openssh-sftp-avahi-service=y
CONFIG_PACKAGE_openssh-sftp-client=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_sshtunnel=y

## VPN
CONFIG_PACKAGE_openvpn-easy-rsa=y
CONFIG_PACKAGE_openvpn-openssl=y

## Web Servers/Proxies
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_frps=y
CONFIG_PACKAGE_sockd=y
CONFIG_PACKAGE_tinyproxy=y
CONFIG_PACKAGE_trojan-go=y
CONFIG_PACKAGE_v2raya=y
CONFIG_PACKAGE_tor=y
CONFIG_PACKAGE_tor-gencert=y
CONFIG_PACKAGE_tor-geoip=y
CONFIG_PACKAGE_tor-resolve=y
CONFIG_PACKAGE_v2ray-core=y
CONFIG_PACKAGE_v2ray-example=y
CONFIG_PACKAGE_v2ray-extra=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_xray-example=y

# Utilities

## Disc
CONFIG_PACKAGE_parted=y

## Filesystem
CONFIG_PACKAGE_resize2fs=y

## docker
CONFIG_PACKAGE_docker=y
CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_dockerd=y

CONFIG_PACKAGE_losetup=y
CONFIG_PACKAGE_hwclock=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_usbutils=y
